<!DOCTYPE html>
<html>
<!-- non framed -->
<head>
<title>Admin Page Breakdown</title>
<link href="/images/css/screen.css" rel="stylesheet" media="screen">
<link href="/images/css/print.css" rel="stylesheet" media="print">
˜[wc:commonscripts]
</head>
<body>
˜[wc:admin_header_css]
<!-- breadcrumb start -->
<a href="/admin/home.html" target="_top">Start Page</a> &gt; <a href="/admin/ui_examples/home.html" target="_top">UI Examples</a> &gt; Admin Pages
<!-- breadcrumb end -->

<!-- The next section of this page is the left navigation. This tag renders the left navigation, 
and the tags that define the start of the content area. -->

˜[wc:admin_navigation_css]

<!-- The content portion of this page is next. All PowerSchool pages have an in-page title ( <h1> ), 
and a box surrounding the content of the page ( <div class="box-round"></div> ). 
Optionally the content can be divided into one or more subsections  using <h2> tags for each section 
heading. Most customization would be in this section of the page. -->

<h1>The In Page Title</h1>
<div class="box-round"> 
<h2>Section Title</h2>
<p>A paragraph of text.</p>
</div>

<!-- The last section of this page is the footer. Here are the tags that render the footer -->

˜[wc:admin_footer_css]
</body>
</html>
