<!DOCTYPE html>
<html>
<!-- start right frame -->
<head>
<title>Page Title ~(lastfirst), ~(teachernumber)</title>
~[wc:commonscripts]
<link href="/images/css/screen.css" rel="stylesheet" media="screen">
<link href="/images/css/print.css" rel="stylesheet" media="print">
</head>

<body>

~[wc:admin_header_frame_css]<!-- breadcrumb start --><a href="/admin/home.html" target="_top">~[text:psx.html.admin_faculty.functions.start_page]</a> &gt; <a href="/admin/faculty/search.html" target="_top">~[text:psx.html.admin_faculty.functions.staff]</a> &gt; <a href="/admin/faculty/home.html?selectteacher=nosearch" target="_top">~[text:psx.html.admin_faculty.functions.select_a_staff_member]</a> 
&gt; Page Title ~(lastfirst), ~(teachernumber)<!-- breadcrumb end -->~[wc:admin_navigation_frame_css]

<span class="account-photo">~[facultytitlephoto]</span>
<h1>Page Title ~(lastfirst), ~(teachernumber)</h1>


<!-- start of content and bounding box -->
<div class="box-round">

<table border="0" cellspacing="0" cellpadding="4" class="fourDTable">
<tr bgcolor="#edf3fe">

</tr>
</table>
<br>

<div class="button-row"></div>
</div>
<br>
<!-- end of content of bounding box -->

~[wc:admin_footer_frame_css]

</body>
</html><!-- end right frame -->
