<!DOCTYPE html> 
<html> 
<head> 
  <title>~[text:psx.html.guardian.home.grades_and_attendance__powerschool_parent_access]</title> 
  ~[wc:guardian_header]

<!-- The next section of this page is the left navigation. This tag renders the left navigation, and the tags that define the start of the content area. -->

~[SetPostValue:selectedTab=GradesAndAttendance] 
~[if.prefschool.sgshowpa=1]~[SetPostValue:showSGFGradebook=false][else]~[SetPostValue:showSGFGradebook=true][/if.prefschool.sgshowpa=1] 
~[brij_render:common-ps;:GuardianHomeTabs]

<!-- The content portion of this page is next. All PowerSchool pages have an in-page title ( <h1> ), 
and a box surrounding the content of the page ( <div class="box-round"></div> ). 
Optionally the content can be divided into one or more subsections  using <h2> tags for each section 
heading. Most customization would be in this section of the page. -->

<h1>The In Page Title</h1>
<div class="box-round"> 
<h2>Section Title</h2>
<p>A paragraph of text.</p>
</div>

<!-- The last section of this page is the footer. Here are the tags that render the footer -->

~[wc:guardian_footer] 
</body> 
</html>
