<!DOCTYPE html> 
<html> 
<head> 
<title>~[text]psx.html.teachers.home.powerteacher[/text]</title> 
~[wc:commonscripts] 

<script language="javascript">function formHandler(newLoc){var URL = newLoc.options[newLoc.selectedIndex].value;window.location.href = URL;} </script> 
<link href="/images/css/screen.css" rel="stylesheet" media="screen"> 
<link href="/images/css/print.css" rel="stylesheet" media="print"> 
</head> 

<body> 

~[wc:teachers_header_css]

<!-- The next section of this page is the left navigation. This tag renders the left navigation, 
and the tags that define the start of the content area. -->

~[wc:teachers_navigation_css] 
~[SetPostValue:tabname=home] 
~[wc:teachers_nav_css]

<!-- The content portion of this page is next. All PowerSchool pages have an in-page title ( <h1> ), 
and a box surrounding the content of the page ( <div class="box-round"></div> ). 
Optionally the content can be divided into one or more subsections  using <h2> tags for each section 
heading. Most customization would be in this section of the page. -->

<h1>The In Page Title</h1>
<div class="box-round"> 
<h2>Section Title</h2>
<p>A paragraph of text.</p>
</div>

<!-- The last section of this page is the footer. Here are the tags that render the footer -->

~[wc:teachers_footer_css] 

</body> 
</html>
